body{
    margin:0;
}
.container{
    background-color: gray;
    width:300px;
    height:300px;
    position:relative;
}
.red{
    background-color: red;
    width: 100px;
    height:100px;
    position:absolute;
    right:20px;





}

.blue{
    background-color: blue;
    width:100px;
    height:100px;
    position:absolute;

    top:0px;
    left:100px;



}
.yellow{
    background-color: yellow;
    width:100px;
    height:100px;
    position:absolute;
    top:0;




}